BODY {
    width: 100%;
    margin: 5px;
}

.note {
    width: 90%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px dashed #ddd;
    background: #ffffe0;
}

.textbox-legend {
    font-style: italic;
    font-weight: bold;
}

.experiment-EvenStep {
    background-color: #FFFFFF;
}

.experiment-OddStep {
    border: solid 1px forestgreen;
    background-color: #EBFFEB;;
}

.cell-modified {
    border: solid 1px forestgreen;
    background-color: #EBFFEB;;
}

.textbox-warning {
    border-color: crimson;
    background-color: #FFEBEB;
}

.textbox-accepted {
    border-color: green;
    background-color: #EBFFEB;
}

/* Change the following style to change how clickable text is displayed in SyMBA */
.clickable-text {
    color: green;
    text-decoration: underline;
}

/* The styles below modified from those found in http://demo.swfupload.org/v220/css/default.css */

div.fieldset {
    border: 1px solid #afe14c;
    margin: 10px 0;
    padding: 20px 10px;
}

div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -30px;
    font: 14px Arial, Helvetica, sans-serif; /*font: 700 14px Arial, Helvetica, sans-serif;*/
    color: #73b304;
}

div.flash {
    width: 375px;
    margin: 10px 5px;
    border-color: #D9E4FF;
    border-radius: 5px;

}

.progressContainer {
    margin: 5px;
    padding: 4px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}

/* Error */
.red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.yellow {
    border: solid 1px darkorange;
    background-color: lightgoldenrodyellow; /*border: solid 1px #DDF0DD;*/
/*background-color: #EBFFEB;*/
}

/* Complete */
.blue {
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
}
