/* Add some settings for all HTML objects in the application */
.gwt-HTML {
    font-family: verdana, arial, helvetica, sans-serif;
}

/* Add some settings for all Hyperlink objects in the application */
.gwt-Hyperlink {
    font-family: verdana, arial, helvetica, sans-serif;
}

/* Add some settings for all Hyperlink objects in the application */
.gwt-ListBox {
    font-family: verdana, arial, helvetica, sans-serif;
}

/* Add some settings for all Label objects in the application */
.gwt-Label {
    font-family: verdana, arial, helvetica, sans-serif;
}

.metadata-style {
    white-space: pre;    
}
.note {
    width: 90%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px dashed #ddd;
    background: #ffffe0;
}

.textbox-legend {
    font-style: italic;
    font-weight: bold;
}

/* The style for showing a template inside a Summary view (either ListBox based or Table based */ 
.summarise-template {
    font-style: italic;
}

.experiment-EvenStep {
    background-color: #FFFFFF;
}

.experiment-OddStep {
    border: solid 1px forestgreen;
    background-color: #EBFFEB;
}

.cell-modified {
    border-radius: 5px; /* border-radius is the CSS 3 standard, but many browsers only see -moz-border-radius */
    -moz-border-radius: 5px;
    border: solid 1px forestgreen;
    background-color: #EBFFEB;
    padding: 5px;
}

.textbox-warning {
    border-color: crimson;
    background-color: #FFEBEB;
}

.textbox-accepted {
    border-color: green;
    background-color: #EBFFEB;
}

/* Change the following style to change how clickable text is displayed in SyMBA */
.clickable-text {
    color: green;
    text-decoration: underline;
}

/* Change the following 2 styles to change the mouse looks when hovering over clickable images and when leaving those images */
.pointer-select {
    cursor: pointer;
}

.image-pointer-exit {
    cursor: default;
}

/* Header styles */
.header-style {
    border: solid 1px black;
    border-radius: 10px; /* border-radius is the CSS 3 standard, but many browsers only see -moz-border-radius */
    -moz-border-radius: 10px;
    width: 100%;
}

.header-home-image {
    height: 80px;
}

.header-images {
    height: 50px;
    padding: 5px 5px 5px 5px;
}

/* Footer styles */

/* Width should match that of .header-style */
.footer-style {
    width: 100%;
}

/* The styles below modified from those found in http://demo.swfupload.org/v220/css/default.css */

div.fieldset {
    border: 1px solid #afe14c;
    margin: 10px 0;
    padding: 20px 10px;
}

div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -30px;
    font: 14px Arial, Helvetica, sans-serif; /*font: 700 14px Arial, Helvetica, sans-serif;*/
    color: #73b304;
}

div.flash {
    width: 375px;
    margin: 10px 5px;
    border-color: #D9E4FF;
    border-radius: 5px;

}

.progressContainer {
    margin: 5px;
    padding: 4px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}

/* Error */
.red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.yellow {
    border: solid 1px darkorange;
    background-color: lightgoldenrodyellow; /*border: solid 1px #DDF0DD;*/
/*background-color: #EBFFEB;*/
}

/* Complete */
.blue {
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
}
